.range-slider {
    width: 100%;
    height: 2px;
    background: #d9d9d9;
    position: relative;
    cursor: pointer;
}

.range-slider .progress-bar {
    height: 2px;
    display: inline-block;
    position: absolute;
    left: 0;
    background: #ffbd2b;
    pointer-events: none;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
}

.range-slider .progress-dragger {
    width: 12px;
    height: 12px;
    display: inline-block;
    position: absolute;
    top: -5px;
    right: 0;
    border-radius: 50%;
    background: #ffbd2b;
    pointer-events: auto;
}
.audio-player {
    font-size: 12px;
    padding: 16px;
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #ededed;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    color: #757575;
}

.audio-player .player-section {
    display: table-cell;
    vertical-align: middle;
}
.audio-player .player-section.player-time {
    width: 75px;
}

.audio-player .player-section.player-progress {
    padding: 0 10px;
}
.audio-player .player-section.player-toggle {
    width: 25px;
}

.audio-player span.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.audio-player span.icon.icon-play {
    background-image: url(play.61d110b8.png);
}

.audio-player span.icon.icon-pause {
    background-image: url(pause.aba4bb68.png);
}
.video-player {
    position: relative;
}

.video-player .icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

.video-player .icon.icon-video-start-play {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(play.d936b1b1.png);
}

.video-player-popup {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, .5);
    z-index: 9999;
}

.video-player-popup video {
    max-width: 1077px;
    max-height: 606px;
}

.video-player-popup .popup-video-wrapper {
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-player-popup .icon.icon-video-close {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    position: absolute;
    top: -12px;
    right: -12px;
    background-image: url(close.910def3e.png);
}